.navbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(0, 0, 128);
}
.centerNavbar{
    margin-left: 30%;
}
.rightNavbar{
    margin-left: 2%;
}
.leftNavbar > img{
    /* width: 15%; */
    color: white;
}